<?xml version="1.0" ?>
<launch>
  <rosparam command="load" file="$(find face_recognition)/config/config.yaml" />  
  <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch" />
  <node pkg="face_recognition" type="face_recognition_node.py" name="face_recognition_node" output="screen"/>
</launch>
